.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  width: 100%;

  .infoLocation {
    align-items: center;
    padding-left: 28px;
    margin: 0;
  }

  .infoLocationTitle {
    font-size: 36px;
    color: #ff6060;
    margin: 0;
    padding-top: 30px;
  }

  .infoLocationVille {
    font-size: 18px;
    color: #ff6060;
    margin: 0;
    padding-top: 8px;
  }

  .infoLocationTags {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 15px;
  }

  .infoLocationNote {
    padding-right: 171px;
    .infoLocationHost {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #ff6060;
      margin-left: 0;
    }
  }
}
.collapse-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: 43px;
  .collapse-description {
    width: 44%;
    padding-left: 57px;
  }
  .collapse-equipement {
    width: 44%;
    padding-right: 99px;
  }
  p {
    margin: 0px;
  }
}

@media (max-width: 1340px) {
  .info {
    .infoLocationNote {
      padding-right: 115px;
    }
  }
}

@media (max-width: 1359px) {
  .collapse-container {
    padding: 0;
    .collapse-description {
      padding: 0;
    }
  }
}

@media (max-width: 1250px) {
  .info {
    .infoLocationNote {
      padding-right: 60px;
    }
  }
}

@media (max-width: 884px) {
  .collapse-container {
    padding: 0;
    margin: 0;
    .collapse-description {
      width: 100%;
    }
    .collapse-equipement {
      width: 100%;
      padding: 0;
      p {
        text-align: left;
      }
    }
  }
}

@media (max-width: 669px) {
  .info {
    .infoLocation {
      padding: 0;
      width: 100%;
    }
    .infoLocationNote {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: last baseline;
      padding-right: 32px;
    }
    .ratingHost {
      display: flex;
      justify-content: left;
      padding-left: 0;
      height: 18px;
    }
  }
}

@media (max-width: 600px) {
  .info {
    padding: 0;
    .infoLocationNote {
      padding-right: 0;
    }
  }
}