.card {
    width: 340px;
    height: 340px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    &::before {
        content: "";
        width: 340px;
        height: 340px;
        background-image: linear-gradient(to bottom, white, black);
        opacity: 0.4;
        position: absolute;
        z-index: 1;
        border-radius: 25px;
    }
    h3 {
        margin: 0px 20px 20px 20px;
        color: white;
    }
}